.app {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.app-content {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.root {
  list-style-type: none;
  padding: 0;
  margin: 0 50px;
}

.nested {
  list-style-type: none;
  padding: 0;
  margin-left: 1.5rem;
}

.nested.hidden {
  display: none;
}

li {
  display: flex;
  padding: 8px 0 10px;
}

.key {
  font-weight: 400;
  margin-right: 8px;
}

.value {
  overflow-wrap: break-word;
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  transform: translateX(-30px);
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 2px solid #bbb;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: #722564;
  font-weight: 500;
}

.boolean {
  color: #61915d;
  font-weight: 600;
}

.braces-r,
.braces-l {
  color: red;
  font-weight: 600;
}

.braces-r {
  display: inline-block;
  height: 8px;
}

.braces-r::before {
  content: "}";
  position: absolute;
  transform: translateX(-25px);
}

.braces-r.not-before::before {
  content: "";
  position: unset;
  transform: unset;
}

.array-r,
.array-l {
  color: #3230ae;
  font-weight: 600;
}

.array-r {
  display: inline-block;
  height: 8px;
}

.array-r::before {
  content: "]";
  position: absolute;
  transform: translateX(-25px);
}

.array-r.not-before::before {
  content: "";
  position: unset;
  transform: unset;
}
